@use "sass:color";

/* ========================================
    Color Variables
======================================== */

/* SCSS HEX */
$tiffany-blue: #9ad2cbff;
$tea-green: #d7ebbaff;
$cream: #feffbeff;
$vanilla: #ebd494ff;
$eggplant: #472836ff;

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #9ad2cbff, #d7ebbaff, #feffbeff, #ebd494ff, #472836ff);
$gradient-right: linear-gradient(90deg, #9ad2cbff, #d7ebbaff, #feffbeff, #ebd494ff, #472836ff);
$gradient-bottom: linear-gradient(180deg, #9ad2cbff, #d7ebbaff, #feffbeff, #ebd494ff, #472836ff);
$gradient-left: linear-gradient(270deg, #9ad2cbff, #d7ebbaff, #feffbeff, #ebd494ff, #472836ff);
$gradient-top-right: linear-gradient(45deg, #9ad2cbff, #d7ebbaff, #feffbeff, #ebd494ff, #472836ff);
$gradient-bottom-right: linear-gradient(135deg, #9ad2cbff, #d7ebbaff, #feffbeff, #ebd494ff, #472836ff);
$gradient-top-left: linear-gradient(225deg, #9ad2cbff, #d7ebbaff, #feffbeff, #ebd494ff, #472836ff);
$gradient-bottom-left: linear-gradient(315deg, #9ad2cbff, #d7ebbaff, #feffbeff, #ebd494ff, #472836ff);
$gradient-radial: radial-gradient(#9ad2cbff, #d7ebbaff, #feffbeff, #ebd494ff, #472836ff);

/* ========================================
    Typography
======================================== */


