@use "sass:color";

/* ========================================
    Color Variables
======================================== */

/* SCSS HEX */
$midnight-violet: rgb(26, 11, 19);
$vintage-grape: rgb(58, 43, 63);
$lavender-grey: rgb(194, 201, 230);
$lavender-grey-2: rgb(135, 151, 175);
$blue-slate: rgb(82, 102, 127);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, $midnight-violet, $blue-slate);
$gradient-right: linear-gradient(90deg, $midnight-violet, $blue-slate);
$gradient-bottom: linear-gradient(180deg, $midnight-violet, $blue-slate);
$gradient-left: linear-gradient(270deg, $midnight-violet, $blue-slate);
$gradient-top-right: linear-gradient(45deg, $midnight-violet, $blue-slate);
$gradient-bottom-right: linear-gradient(135deg, $midnight-violet, $blue-slate);
$gradient-top-left: linear-gradient(225deg, $midnight-violet, $blue-slate);
$gradient-bottom-left: linear-gradient(315deg, $midnight-violet, $blue-slate);
$gradient-radial: radial-gradient($midnight-violet, $blue-slate);


/* ========================================
    Mixins
======================================== */

//blah blah

/* ========================================
    Universal Stying
======================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* ========================================
    Typography
======================================== */

